<a href="https://colab.research.google.com/github/meghasyam/python/blob/master/1-basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

	Multi-paradigm: functional, imperative, object-oriented, structured, reflective
  https://en.wikipedia.org/wiki/Python_(programming_language)

**Installing python**

 1. python distributions (https://www.python.org/downloads/)

 2. anacond disributions (https://www.anaconda.com/distribution/#download-section)
 
 3. online jyputer notebook (https://colab.research.google.com/)

**IDE / Editor** 

1. pycharm
 https://www.jetbrains.com/pycharm/download/download-thanks.html?platform=windows&code=PCC

2. Visual studio Code https://code.visualstudio.com/

In [0]:
a = "Welcome to Python"  #int a , char b , float c , ... Dynnamic typed 
b = 23 
c = 24.3
d = 'c'

print (a)

python is dynamic typing , you dont need to specify the type. it will find by itself

In [0]:
print(type(a),type(b),type(c))

**KEYWORDS**

False	await	else	import	pass
None	break	except	in	raise
True	class	finally	is	return
and	continue	for	lambda	try
as	def	from	nonlocal	while
assert	del	global	not	with
async	elif	if	or	yield

**Identifiers**

a-z,0-9 ,and underscore_

In [0]:
#1bbbc = "new progres"  identifiers can not start with numbers
abab1 = "new progress"

In [0]:
# if = 1  keywords can not be used for identifiers

**Statements**

In [0]:
a = 1 #single

a = 1 +1 \

# multi
#2

a = [2,  #multi
     3,
     4]

**Identations**

each block seperated by indentations

In [0]:
for i in range(10):
  print(i)

**comments**

In [0]:
# single line comments
""" 
this is multi line commments
"""

In [0]:
def double(num):
    """Function to double the value"""
    return 2*num

double(3)
print(double.__doc__)

**19th April 2020**

In [0]:
# comments - this will  be not part of the program

# nullify - no effect , you write relavant
"""
a= 2
b= 3
c= 4
d= 5
"""
# print(a)

**Variable**

In [0]:
number = 10
name = "venkat"

name = "Ramu"
print(number,name)

basic data type - int , float,bool, character / string

in python , you dont have diffrence between sinle quote ' and double "

In [0]:
number = 10  # integer variable
deci = 10.23 # float variable
bol = True # True / flase
website = "apple.com" # string - collection of characters (a,p,p,l,e,.,c,o,m) variable  1 way
anotherWeb = 'yahoo.com' # string variable 2 way


print("integer",number)
print("decimal",deci)
print("boolean",bol)
print("string", website)

# # assigning a new variable to website
# website = "programiz.com"

# print(website)

In [0]:
a, b, c = 5, 3.2, "Hello" # multiple assignment 

# a=5
# b=3.2
# c="Hello"

print (a)
print (b)
print (c)

In [0]:
PI = 3.4  # capitals
GRAVITY = 9.8

In [0]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 2+3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

In [0]:
strings = "This is Python"  #define use single && double quote are same , there is no difference
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str ="raw\n\tstring"  # escape sequences 

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

In [0]:
x = (1 == True)  # true = 1
y = (1 == False) # false = 0 
a = True + 4  # 1+ 4 = 5
b = False + 10 # 0 + 10 = 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

In [0]:
drink = "Available"
food = None  # null type 

print(drink,food)

In [0]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

**20-April-2020**

**basic data types**: int float complex bool

In [0]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))
print(a, "is float", isinstance(a,float))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

**collections**  list , tuple, string , set and dictonary

In [0]:
a = [1, 2.2, 'python']
print(a)

In [0]:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

In [0]:
t = (5,'program', 1+3j)
print(t)

In [0]:
s = "This is a string"
print(s)
s = '''A multiline
string'''
print(s)

In [0]:
a = {5,2,3,1,4,5,5,5,5}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

In [0]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1]);

print("d['key'] = ", d['key']);

# Generates error
#print("d[2] = ", d[2]);

In [0]:
a = 2
print(type(a))
b = 3.3
print(type(b))

print(a+b)
print(type(a+b))

print(a-b)
print(a*b)
print(a/b)

**Data type conversion**

1. implicit conversion ( automaic)
2. explicit conversion ( incompatiable data types - type conversion functions int(),float(),str().. )

In [0]:
print(int("23"))
print(float(5))
print(int(10.6))
print(int(-10.6))

In [0]:
set([1,2,3])
tuple({5,6,7})
list('hello')
dict([[1,2],[3,4]])

In [0]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

In [0]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+int(num_str))

In [0]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

**Operators**

arithamatic ( +.-,*...)
relational (<,>
bit wise

In [0]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

In [0]:
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

In [0]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

In [0]:
x = 10
y = 4 

print ('x&y',x&y)
print ('x|y',x|y)
print ('~x',~x)
print ('x^y',x^y)
print ('x<<2',x<<2)
print ('x>>2',x>>2)

In [0]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

In [0]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

1. Airthamatic
2. relational
3. logical
4. bit wise
5. assignment
6. identity
7. membership